<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-logo" style="width: 90px;" src="https://www.thebrownfox.be/design/img/logo/logo-thebrownfox.svg"
                alt="The brown fox logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="items.html" id="dropdown-products" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        items
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-products">
                        <a class="dropdown-item" href="item-1.html">Item 1</a>
                        <a class="dropdown-item" href="item-2.html">Item 2</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="about.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
